.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.picture {
  margin: 20px 5px;
  border-radius: 15px;
  box-shadow: 1px 10px 10px rgb(20,20,20, 0.9);
  max-height: 150px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    border: 5px solid rgba(2, 226, 246, 0.9);
    transform: scale(1.1);
    border-radius: 50%;
  }
}
